
.App {
  font-size: calc(10px + 1.5vmin);
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.Button--wide {
  width: 100%;
  font-size: 18px;
}

.Alert--small {
  font-size: 1.25rem;
}

.GenerateIDCard {
  margin-top: 2rem;
}

.GenerateIDCard--cardbody {
  text-align: left;
}

.GenerateIDCard--formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GenerateIDCard--formGroup label {
  text-transform: capitalize;
}
.GenerateIDCard--formGroup label, input, textarea {
  width: 50%;
}

.GenerateIDCard--listGroup {
  list-style-type: none;
  padding: 0;
  min-width: 26rem;
  margin-bottom: 0;
}
.GenerateIDCard--listGroupItem {
  text-align: left;
  font-size: 1.25rem;
}
.GenerateIDCard--listGroupItem:hover {
  cursor: pointer;
  background-color: '';
}
.GenerateIDCard--listGroupItem:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.GenerateIDCard--listGroupItem:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
