
.App {
  font-size: calc(10px + 1.5vmin);
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Button--wide {
  width: 100%;
  font-size: 18px;
}

.Button--clear {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.CopyAlert {
  font-size: 1.25rem;
}
.CopyAlert--helperText {
  font-style: 'italic';
  font-size: '14px';
}

.Icon--clickable:hover {
  cursor: pointer;
}

.History--title {
  margin-bottom: 1rem;
}

.History--emptyStateText {
  font-style: italic;
  margin: 0;
  font-size: 18px;
}

.GenerateIDCard {
  margin-top: 2rem;
}

.GenerateIDCard--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.GenerateIDCard--header p {
  margin: 0;
}

.GenerateIDCard--cardbody {
  text-align: left;
  -webkit-transition: height 500ms ease;
  -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
   -ms-transition: height 500ms ease;
       transition: height 500ms ease;
}

.GenerateIDCard--cardbody-expanded {
  -webkit-transition: height 500ms ease;
  -moz-transition: height 500ms ease;
    -o-transition: height 500ms ease;
   -ms-transition: height 500ms ease;
       transition: height 500ms ease;
}

.GenerateIDCard--formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.GenerateIDCard--formGroup label {
  text-transform: capitalize;
}
.GenerateIDCard--formGroup label, input, textarea {
  width: 50%;
}

.GenerateIDCard--listGroup {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.GenerateIDCard--listGroupItem {
  text-align: left;
  font-size: 1.25rem;
}
.GenerateIDCard--listGroupItem:hover {
  cursor: pointer;
  background-color: '';
}
.GenerateIDCard--listGroupItem:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.GenerateIDCard--listGroupItem:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
